<head>
    <title><%= title ? title : "todo" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="todo"
    <meta name="keywords" content="todo">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href=<%= stylepath %>></link> 
</head>