<!DOCTYPE html>
<html>

    <head>
        <title>Some title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="???">
        <meta name="keywords" content="mavrick laakso software developer engineer javascript typescript node node.js go golang sql nosql postgresql kubernetes k8s docker cassandra rabbitmq amqp sudbury london">
        <meta name="robots" content="index,follow">
    </head>

    <body>
        <% if (title) { %>
        <h1>Hello, <%= title %></h1>
        <% } else { %>
        <h1> Hello, world </h1>
        <% } %>

        <%- content %>
    </body>

</html>